* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    transition:5s;
}

.section-1 {
    width: 100%;
    max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)), url('./img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

nav {
  position:fixed;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: end;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2),  rgba(0, 0, 0, 0.2));
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 1.1em;
  transition:1s;
}

li:hover {
    background-color:#262525;
}

a {
  text-decoration: none;
  font-size: 1.2em;
  color:white;
}


.section-1-div {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #cccccc;
}
#name-1 {
     font-size: 3.5em;
}

.section-1-div p {
    text-align: center;
    max-width: 800px
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3em;
    background-color: #353535;
}

#p-1 {
    text-align: center;
    max-width: 75%;
    font-size: 20px;
    color:#cccccc;
    font-weight: 400;
    overflow: hidden;
}


.about-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-1 {
    border-radius: 2em;
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.7);
    transition: 0.8s;

}

.img-1:hover {
    transform: scale(1.03);
}


footer {
    background-color: #353535;
    display: flex;
    justify-content: space-around;
}

footer a img {
    width: 50px;
}

.im {
    padding-top: 0.5em;
    width: 35px;
}
footer a {
    padding: 0.5em;
}


@media only screen and (max-width: 768px) {
    .about {
        display: flex;
        flex-direction: column;
    }

    .image-1 {
        display: flex;
        justify-content: center;
        padding-bottom: 3em;
    }

    .img-1 {
        max-width: 100%;
    }



     nav {
         max-width: 100%;
     }

     
}
